.cover__background {
    background: url(../../../images/__background.png) no-repeat center;
    width: 1184px;
    height: 740px;
    position: relative;
    opacity: 0.6;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .cover__background {
        width: 1024px;
        height: 640px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .cover__background {
        width: 768px;
        height: 480px;
    }
}

@media (min-width: 425px) and (max-width: 767px) {
    .cover__background {
        width: 320px;
        height: 200px;
    }
}

@media (max-width: 425px) {
    .cover__background {
        width: 320px;
        height: 200px;
    }
}